<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Sync - {% block title %}{% endblock %}</title>

    <script src="https://cdn.tailwindcss.com"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        sans: ['Inter', 'sans-serif'],
                    },
                    colors: {
                        neutral: {
                            900: '#121212',
                            800: '#181818',
                            700: '#282828',
                        },
                        purple: {
                            '500': '#A435F0',
                            '400': '#C084FC',
                        }
                    }
                }
            }
        }
    </script>
</head>
<body class="bg-neutral-900 text-white font-sans flex flex-col min-h-screen">

    {% block content %}
    {% endblock %}

</body>
</html>